<footer id="footer" class="text-center bg-dark text-white mt-5 p-3">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-6">
        <h4>Story Books</h4>
        <p>Share your life with books</p>
      </div>
      <div class="col-md-6">
        <h4>Links</h4>
        <a href="/story" class="d-block text-white">Public Stories</a>
        <a href="/about" class="d-block text-white">About</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 mx-auto">
        <p>CopyRight &copy; 2018</p>
      </div>
    </div>
  </div>
</footer>