<h1>Welcome to StoryBook</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti veniam ullam minima odio numquam obcaecati exercitationem
  quae molestias ipsam doloribus Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, nulla Lorem ipsum, dolor
  sit amet consectetur adipisicing elit. Rerum inventore deleniti dolore fuga obcaecati animi temporibus a. In, eveniet esse!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, consequuntur. Numquam, quia itaque? Animi, qui unde
  exercitationem ex maiores recusandae alias enim molestias id in laudantium labore quos pariatur voluptate?</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore delectus nemo quo necessitatibus sint sunt id maxime, placeat
  consequatur, quibusdam, nam officia nostrum dolor aliquam saepe temporibus debitis rem quia!</p>
<a href="/auth/google" class="btn btn-danger">
  <i class="fa fa-google-plus"></i> Login In With Google</a>